#nullbar {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .2em 1em;
    background: #f4f8fc;
    white-space: nowrap;
    border-bottom: 1px solid #162a4817;
}
#nullbar div:first-child {
    width: 100%;
}
#nullbar span {
    color: var(--text);
    font-weight: 600;
    font-size: 1.2em;
}
#nullbar div:nth-child(2) {
    min-width: 15em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#nullbar a{
    text-decoration: none;
    font-size: .8em;
    font-weight: 600;
}
#nullbar a:first-child {
    color: var(--text);
}
#nullbar a:first-child:hover {
    color: var(--yellow);
}
#nullbar a:last-child {
    padding: .15em 1em;
    border-radius: .25em;
    background: var(--text);
    color: var(--white);
}
#nullbar a:last-child:hover {
    font-size: .85em;
}
#nullbar a:last-child:focus {
    border: 2px solid var(--text);
    background: transparent;
    color: var(--text);
    transition: .2s ease-in-out;
}
