:root {
    --text: #162a48;
    --text-light: #969696;
    --text-white: #dddddd;
    --text-bold: #222222;
    --object: #717171;
    --blue: #5677fc;
    --black: #25272e;
    --red: #e66868;
    --white: #eeeeee;
    --hover: #f6f6f6;
    --bg: #f4f8fc;

    --sh: 0 0 5px -1px rgb(0 0 0 / 15%);
    --sh-i: -1px 1px 4px -1px rgba(0,0,0,0.22),
     -1px 1px 4px -1px rgba(0,0,0,0.22),
      -1px 1px 4px -1px rgba(0,0,0,0.22);
}

/* A TAG */
a {
    text-decoration: none !important;
}

/*======================================*/
  
#navbar {
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
    position: relative;
    position: sticky;
    z-index: 111;
    top: 0;
    margin: 0 0 .5em 0;
    background: #fff;
    box-shadow: var(--sh);
}

#navbar > div {
    height: 100%;
    display: flex;
    align-items: center;
}

/*======================================*/

/* LOGO SECTION */
#navbar .logo-div {
    text-align: center;
}

#navbar .logo-div .logo {
    font-size: 2em;
    color: var(--black);
    background: transparent;
}

#navbar .logo > span {
    color: var(--blue) !important;
}

/*======================================*/

/* MENU SECTION */
#navbar .menu .menu-hover {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 .25em;
}

#navbar .menu .menubar {
    font-size: 1.9em;
    color: var(--text-light);
}

#navbar .menu-name {
    display: none;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--text-light);
}

#navbar .menu:hover .menubar {
    color: var(--text-light);
}

#navbar .menu:hover .menu-hover,
#navbar .menu:focus .menu-hover{
    color: var(--text) !important;
    font-weight: 600;
    background: linear-gradient(var(--bg), transparent) ;
}

/*======================================*/

/* SEARCH SECTION */
#navbar .search-div {
    width: 30em;
    height: 2.5em;
    position: relative;
    display: flex;
    gap: 0;
}

/* INPUT */
#navbar .search-div .search {
    border-radius: .75em;
    height: 100%;
    width: 100%;
    border: 1px solid var(--text-light);
    padding: 0 10px;
    font-size: 1.1em;
    font-weight: 600;
    color: var(--text-light);
}

#navbar .search-div .search::placeholder {
    font-size: .8em;
    color: var(--text-light);
    padding: 0 1em;
}

#navbar .search-div .search:focus {
    box-shadow: var(--sh-i);
}

/* SELECT */
#navbar .search-div .category {
    position: absolute;
    top: 0;
    right: 2.5em;
    height: 100%;
    width: 11em;
    border: 1px solid var(--text-light);
    border-right: 0;
    cursor: pointer;
}

#navbar .search-div .category > div {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

#navbar .search-div .category-text {
    display: flex;
    gap: 1em;
    align-items: center;
    text-align: center;
    height: 100%;
    width: calc(100% + .5em);
    padding: 0 1em;
}

#navbar .search-div .category-text div {
    color: var(--text-light);
}

#navbar .search-div .category-text div:hover,
#navbar .search-div .category-text div:focus,
#navbar .search-div:hover .category-text,
#navbar .search-div:hover .category-text .icon,
#navbar .search-div:hover .category-text div {
    color: #fff;
    background: var(--yellow);
    font-weight: 600;
}

#navbar .search-div .category-text .icon {
    color: var(--text-light);
    font-size: .8em;
}

/* UL */
#navbar .search-div .search-select {
    z-index: 100;
    position: absolute;
    top: 100%;
    width: 100%;
    height: max-content;
    display: flex;
    visibility: hidden;
    text-align: left;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-indent: .1em;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

#navbar .search-div .category-text:hover ~ .search-select,
#navbar .search-div .search-select:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    box-shadow: var(--sh);
    -webkit-box-shadow: var(--sh);
}

#navbar .search-div .search-select li {
    height: 2em;
    border: 1px solid #e5e5e5;
    border-top: 0;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: .25em;
}

#navbar .search-div .search-select li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#navbar .search-div .search-select li:hover {
    background: var(--white);
}

#navbar .search-div .search-select li .ri-icon{
    color: var(--text-light) !important;
    font-weight: 500 !important;
}

#navbar .search-div .search-select li:hover * {
    background: var(--white);
    color: var(--text);
    font-weight: 600;
}

#navbar .search-div .search-select .select-text {
    display: flex;
    align-items: center;
    gap: .2em;
    text-align: center;
}

#navbar .search-div .search-select span {
    color: var(--text-light);
}


/* SEARCH BUTTON */
#navbar .search-div .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 3em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border: 1px solid var(--text-light);
    border-left: 0;
    background: white;
    color: var(--text-light);
}

#navbar .search-div .search-btn:hover {
    background: var(--hover);
}

#navbar .search-div .search-btn:hover * {
    background: var(--hover);
    color: var(--text);
}

#navbar .search-div .search-btn:active * {
    color: var(--blue);
}

#navbar .search-div .search-icon {
    font-size: 1.5em;
    color: var(--object);
}

/*======================================*/

/* NAV */
#navbar .nav {
    position: relative;
    max-width: 15em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#navbar .nav > div {
    display: flex;
    justify-content: center;
}

#navbar .nav > div .icon {
    font-size: 1.8em;
    color: var(--text-light);
}

#navbar .nav > div:hover .icon {
    color: var(--text-bold);
}

#navbar .nav > div span {
    position: absolute;
    z-index: 100;
    padding: 0 .5em;
    top: 100%;
    background: var(--yellow);
    border-radius: .8em;
    font-weight: 600;
    font-size: .8em;
    color: #fff;
    user-select: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transition-delay: .1s;
}

#navbar .nav > div:hover span {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#navbar .nav-sm {
    display: none;
}


/*======================================*/
/*======================================*//*======================================*/

#menu-info {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 32em;
    padding: 0 8em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    justify-self: center !important;
    background: linear-gradient( transparent, var(--bg)) ;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transition-delay: .1s;
}

#navbar .menu:hover #menu-info,
#navbar .menu:focus #menu-info,
#menu-info:hover {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#menu-info .hot-deals {
    max-width: 55em;
    background: #fff;
    padding: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: var(--sh-i);
    border-radius: .25em;
}

#menu-info .hot-deals .item-container {
    width: 100%;
    height: 22em;
    padding: 0 1em;
}

#menu-info .hot-deals .item-container > span {
    color: var(--text);
    font-weight: 600;
    font-size: .9em;
}

#menu-info .hot-deals .item-container > ul {
    white-space: nowrap;
    height: 20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu-info .hot-deals .item {
    width: 100%;
    display: flex;
    align-items: center;
}

#menu-info .hot-deals .item a {
    text-decoration: none;
    color: var(--text-light);
    font-size: .9em;
    padding: 0 ;
    font-weight: 600;
}

#menu-info .hot-deals .item a:hover {
    color: var(--text);
    transition: .2s;
}

/*======================================*/
#menu-info .hot-ul li {
    height: 4em;
}
#menu-info .hot-ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4em;
    padding: .2em .1em;
    border-radius: .25em;
}

#menu-info .hot-ul li a:hover {
    background: var(--white);
}

#menu-info .hot-ul li a img {
    width: 3em;
    height: 3em !important;
    object-fit: cover;
    border-radius: .25em;
    margin: 0 .25em;
    box-shadow: var(--sh-i);
}

#menu-info .hot-ul .hot-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 .2em;
}

#menu-info .hot-ul .hot-info span {
    font-size: .8em;
    color: var(--text);
    font-weight: 600;
}

#menu-info .hot-ul .hot-info small {
    font-size: .6em;
    color: var(--text-light);
}

/*======================================*/

/* HOT DEALS */
#menu-info .hot-deals div:last-child {
    display: flex;
    height: 22em;
    justify-content: center;
}

#menu-info .hot-deals div:last-child > img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    border-radius: .25em;
    box-shadow: var(--sh-i);
}

/*======================================*/
/*======================================*/

#menu-info .ad {
    position: relative;
    width: 100%;
    max-width: 55em;
    height: 6em;
    display: flex;
    align-items: center;
    border-radius: .25em;
    box-shadow: var(--sh-i);
}

#menu-info .ad img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25em;
}

#menu-info .ad span {
    position: absolute;
    right: 0;
    padding: .7em 1em 0 2em;
    font-size: 2em !important;
    color: #fc9900 !important;
    background: linear-gradient(-115deg, rgba(255, 255, 255, 0.63) 80%, transparent 80%) ;
    height: 3em;
    font-weight: bolder;
    border-top-right-radius: .1em;
    border-bottom-right-radius: .1em;
    /* text-shadow: 
        -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff; */
}


@media (max-width: 1024px) {
    #navbar {
        height: max-content;
        display: grid;
        grid-template-areas: 
            'f f f f f f '
            'a a b b c c '
        ;
        justify-content: space-between;
        padding: 0 .25em;
    }

    #navbar .search-div {
        grid-area: f;
        width: 95%;
        margin: .25em auto;
    }

    #navbar .logo-div {
        grid-area: a;
    }
    
    #navbar .menu {
        grid-area: b;
    }
    
    #navbar .nav {
        grid-area: c;
    }
    
    #navbar .menu-name {
        display: block;
    }

}

@media (max-width: 680px) {
    #navbar * {
        font-size: calc(1 -.5em) !important;
    }
}