html {
    scroll-behavior: smooth;
}

#cart {
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
    background: var(--bg);
}

#cart .navbar {
    width: 100%;
    height: max-content;
    position: relative;
    top: 0;
}

/*===================================================*/
/* TOTAL */
#cart > .total {
    display: none;
    justify-content: space-between;
    height: max-content;
    width: 100%;
    padding: .25em .5em;
    background: #fff;
}

#cart > .total * {
    font-weight: 600;
}

/*===================================================*/
/* BODY */
#cart .body {
    width: 100%;
    height: max-content;
}

/* CART ITEMS */
#cart .body .cart-items {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2em;
    background: var(--bg);
    padding: 1em 2em;
}

#cart .body .cart-items .items {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
}

/* ASIDE */
#cart .body .cart-items .aside {
    position: sticky;
    top: 3.8em;
    width: 15em;
    height: max-content;
    background: #fff;
    padding: .5em;
    border-radius: .25em;
    box-shadow: var(--sh);
}

#cart .body .aside .info {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#cart .aside .info > span {
    font-size: .8;
    color: var(--text-light) !important;
    font-weight: 600;
}

#cart .aside .info .hr {
    background: var(--text-white);
    width: 11em;
    height: 1px;
    margin: 0 auto;
}

#cart .body .aside .info .total {
    display: flex;
    flex-direction: column;
}

#cart .body .aside .total .amount > span {
    color: var(--text-light);
}

#cart .body .aside .total .amount > h2 {
    color: var(--text);
    margin: 0 1em;
    font-size: 1.2em;
}

#cart .body .aside .total > p {
    font-size: .7em;
    color: var(--text-light);
}

#cart .body .aside .info .checkout {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: .25em;
    margin: 0 auto;
    background: var(--yellow);
    color: #fff;
    font-weight: 600;
    border-radius: .25em;
    box-shadow: var(--sh);
}

#cart .body .aside .return {
    display: flex;
    flex-direction: column;
    margin: .5em 0;
}

#cart .body .aside .return > span{
    color: var(--black);
    opacity: .9;
    font-size: .8em;
}

#cart .body .aside .return > small {
    color: var(--text-light);
    font-size: .6em;
}

/*===================================================*/
/* WISHLIST ITEMS */
#cart .body .wishlist-items {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: max-content;
    justify-content: space-evenly;
    padding: 1em 2em;
}

#cart .body .wishlist-items > span {
    color: var(--text);
    font-size: 1.5em;
    font-weight: 600;
}

#cart .body .wishlist-items .items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    gap: .5em;
}

#cart .body .wishlist-items .items .item {
    height: max-content;
    max-width: 11em;
    padding: .5em;
    max-height: 20em;
}

#cart .body .wishlist-items .items .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#cart .body .wishlist-items .items .item .description {
    display: flex;
    flex-direction: column;
    height: max-content;
}

#cart .body .wishlist-items .item .description > h3 {
    margin: 0 auto;
    width: 100%;
    color: var(--text);
    font-size: 1.1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    font-weight: 600;
}

#cart .body .wishlist-items .item .description > span {
    color: var(--text);
    font-size: .9em;
    font-weight: 600;
    margin: 0 .5em;
}

#cart .body .wishlist-items .item .description > p {
    color: var(--text-light);
    font-size: .8em;
    text-decoration: line-through;
    margin: 0 .5em;
}


@media (max-width: 786px) {
    #cart .total {
        display: flex;
    }

    #cart .body .cart-items .aside {
        display: none;
    }
}