.Slider{
    user-select: none;
}
.Slider::-webkit-scrollbar{
    height: .1em;
    width: .1em;
}
.Slider::-webkit-scrollbar-thumb{
    border-radius: .1em;
}
.Slider::-webkit-scrollbar-track{
    border-radius: .1em;
}


#footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    background: var(--black);
    padding: 1em 0;
}

/*===========================================*/
/* CONTACT INFO */
#footer .foot {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 15em;
}

#footer .foot > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#footer .foot > span {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--white);
}

#footer .foot > div .contact-info {
    display: flex;
    flex-direction: column;
    color: var(--text-white);
}

#footer .foot > div .contact-info > span {
    display: flex;
    align-items: center;
    height: max-content;
}

#footer .foot .contact-info .ri-icon {
    margin: auto 0;
}

#footer .foot > div .contact-info > a {
    color: var(--text-light);
    font-size: .8em;
    width: max-content;
    margin-left: .5em;
}

#footer .foot .social-media-icons{
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    width: 100%;
    color: var(--bg);
}

#footer .foot .social-media-icons > a {
    width: max-content;
}

#footer .foot .social-media-icons > a:hover .ri-icon {
    color: var(--text-light);
    transform: scale(1.1);
    transition: .1s ease-in-out;
}

#footer .foot .social-media-icons > a .ri-icon {
    font-size: 2.5em;
    color: var(--text-white);
    margin: auto 0;
}

/*===========================================*/
/* SUPPORT / QUICK LINKS */
#footer .foot .foot-links .a-tag{
    display: flex;
    width: 100%;
    gap: .2em;
}

#footer .foot .foot-links .a-tag:hover span {
    color: var(--blue) !important;
    transition: .2s ease-in-out;
    transform: scale(1.05);
}

#footer .foot .foot-links .ri-icon {
    color: var(--text-white);
    font-size: 1.1em;
    margin: auto 0;
}

#footer .foot .foot-links span {
    color: var(--text-light);
}


/*===========================================*/
/* NEWSLETTER / CUSTOMER SERVICE */
#footer .foot:last-child > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: .25em;
}

#footer .foot:last-child > div input {
    width: 100%;
    height: 2.2em;
    padding: 0 .5em;
    font-size: 1.1em;
    border-radius: .5em;
    box-shadow: var(--sh);
    background: var(--white);
    outline: none;
    border: none;
}

#footer .foot:last-child > div .a-tag {
    width: 100%;
    height: 2em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 1.2em;
    font-weight: 600;
    border-radius: .5em;
    margin-top: .25em;
}

#footer .foot:last-child > div span {
    color: var(--text-white);
    width: max-content;
    margin: 0 auto;
}

#footer .foot:last-child > div .a-tag:last-child {
    background: var(--blue);
}

#footer .foot:last-child > div .a-tag:hover {
    opacity: .9;
}

#footer .foot:last-child > div .a-tag:focus {
    color: var(--white);
    background: var(--black);
    border: 2px solid var(--white);
    transition: .2s ease-in-out;
}
