#product {
    background: var(--bg);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.hr {
    height: 1px;
    width: 100%;
    background: var(--text-white);
}

#product .navbar {
    position: sticky;
    top: 0;
    z-index: 111;
}

#product .footer {
}

/*==========================================*/
/* BODY */
#product .body {
    display: grid;
    grid-template-areas: 
        'a a a a a b b'
        'a a a a a b b'
        'a a a a a b b'
        'c c c c c b b'
        'c c c c c b b'
        'c c c c c b b'
        'c c c c c b b'
        'c c c c c b b'
    ;
    width: 100%;
    gap: .5em;
    overflow-x: hidden;
}

#product .body .product {
    display: flex;
    grid-area: a;
    width: 100%;
    height: 100%;
    background: #fff;
}

/*==========================================*/
/* IMG DIV SECTION */
#product .body .product .img-div {
    display: flex;
    flex-direction: column;
    padding: .25em;
}

#product .body .product .img-div > img {
    width: 20em;
    height: 20em;
    object-fit: cover;
    border-radius: .15em;
    box-shadow: var(--sh);
}

#product .body .product .img-div > div {
    display: flex;
    padding: .5em;
    font-size: .8em;
    width: 100%;
    margin: 0 auto;
}

#product .body .product .img-div > div > span {
    color: var(--text-light);
    margin-right: .25em;
}

#product .body .product .img-div > div .a-tag {
    color: var(--blue);
    font-weight: 600;
}

/*==========================================*/
/* PRODUCT INFO SECTION */
#product .product .info {
    display: flex;
    flex-direction: column;
    gap: .25em;
    width: 100%;
}

/* MAIN INFO SECTION */
#product .product .info .main {
    display: flex;
    flex-direction: column;
    padding: .15em;
}

#product .product .info .main .heading {
    color: var(--bg);
    background: var(--blue);
    font-size: .8em;
    width: 100%;
    padding: .05em .25em;
}

#product .product .info .main > h3 {
    font-weight: 600;
    color: var(--text);
}

#product .product .info .main > small {
    font-size: .7em;
    color: var(--object);
}

/* FOR STAR INFO SECTION */
#product .product .info .main .star {
    display: flex;
    align-items: center;
    width: max-content;
}

#product .product .info .main .star .icon {
    font-size: .9em;
    color: var(--yellow);
}

#product .product .info .main .star > span {
    color: var(--text-light);
    font-size: .8em;
}

/* SUB INFO SECTION */
#product .product .info .sub {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#product .product .info .sub .price > h2 {
    color: var(--text);
    font-weight: 600;
}

#product .product .info .sub .price > span {
    display: flex;
    font-size: .7em;
    gap: .5em;
    margin: .5em;
}

#product .product .info .sub .price > span > span {
    text-decoration: line-through;
    color: var(--text-light);
}

#product .product .info .sub .price > span > aside {
    text-decoration: none;
    color: #fff;
    background: var(--yellow);
    width: max-content;
    border-radius: .25em;
    padding: .15em;
}

#product .product .info .sub > small {
    color: var(--blue);
    font-size: .6em;
}

#product .product .info .sub > span {
    font-size: .8em;
    color: var(--text);
}

/* BUTTON SECTION */
#product .product .info .button {
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
    margin-bottom: 2em;
    padding: 0 1em;
}

#product .product .info .button .a-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .25em;
    width: 100%;
    min-width: 10em;
    height: max-content;
    color: var(--text-light);
    border-radius: .25em;
    border: 1px solid var(--text-light);
    font-weight: 600;
    box-shadow: var(--sh);
}

#product .product .info .button .a-tag .icon {
    width: max-content;
    color: var(--blue);
    font-size: 1.2em;
}

#product .product .info .button .a-tag .ri-icon {
    color: var(--yellow);
    font-size: 1.2em;
}


/*==========================================*/
/*==========================================*/
/* ASIDE */
#product .body .aside {
    display: flex;
    grid-area: b;
    flex-direction: column;
    background: #fff;
    border-radius: .25em;
    max-width: 15em;
    width: 100%;
    height: max-content;
}

#product .body .aside .func {
    padding: .5em;
}

#product .aside .func > span {
    color: var(--text);
    font-size: .9em;
}

/*==========================================*/
/* LOCATION */

#product .aside .func .loc-from > p {
    font-size: .8em;
    color: var(--black);
    font-weight: 600;
}

#product .aside .func .loc-from > span {
    font-size: .7em;
    color: var(--text-light);
}

#product .aside .func .loc-to > span {
    color: var(--text);
    font-weight: 600;
    border-bottom: .15em solid var(--yellow);
}

#product .aside .func .loc-to .location {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

#product .aside .func .loc-to .location .initial {
    display: flex;
    align-items: center;
    width: 100%;
    margin: .5em 0;
    justify-content: space-between;
    padding: .25em .5em;
    box-shadow: var(--sh);
}

#product .aside .loc-to .location .initial > span {
    color: var(--blue);
    font-weight: 600;
}

#product .aside .loc-to .location .initial .icon {
    font-size: 1.5em;
    height: min-content;
    width: min-content;
    color: var(--object)
}

#product .aside .func .loc-to .location .list {
    position: absolute;
    left: 0;
    top: 100%;
    box-shadow: var(--sh-i);
    border-radius: .25em;
    display: none;
    height: max-content;
    width: 100%;
}

#product .aside .func .loc-to .location .list > li {
    font-size: .9em;
    color: var(--text-light);
    width: 100%;
    padding: .25em;
    border-bottom: 1px solid var(--text-white);
}

#product .aside .func .loc-to .delivery {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text-white);
    border-radius: .5em;
    padding: .25em;
    margin: .25em 0;
}

#product .aside .func .loc-to .delivery > .icon {
    font-size: 1.5em;
    color: var(--yellow);
}

#product .aside .func .loc-to .delivery > div {
    display: flex;
    flex-direction: column;
}

#product .aside .func .loc-to .delivery > div > p {
    color: var(--text);
    font-size: .9em;
}

#product .aside .func .loc-to .delivery > div > .price {
    color: var(--text-light);
    font-size: .8em;
}

#product .aside .func .loc-to .delivery > div > .date {
    color: var(--text-light);
    font-size: .8em;
}
#product .aside .func .loc-to .delivery > div > .date .a-tag {
    color: var(--blue);
}

/*==========================================*/
/* ASIDE-DW */
#product .aside .aside-dw {
    display: flex;
    flex-direction: column;
    box-shadow: var(--sh); 
    margin: .5em;   
}

/* ASIDE-DW */
#product .aside .aside-dw .data {
    display: flex;
    flex-direction: column;
}

#product .aside .aside-dw .data .img {
    height: 10em;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    border-bottom: 1px solid var(--text-white);
}

#product .aside .aside-dw .data .info {
}

#product .aside .aside-dw .data .info > p {
    color: var(--text);
    font-weight: 600;
    width: 100%;
    padding: 0 .25em;
    margin: 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

#product .aside .aside-dw .info .prices {
    margin: 0 1em;
}

#product .aside .aside-dw .info .prices > span {
    display: flex;
    align-items: center;
    gap: .5em;
}

#product .aside .aside-dw .info .prices .price {
    text-decoration: line-through;
    color: var(--text-light);
}

#product .aside .aside-dw .prices .discount {
    text-decoration: none;
    color: #fff;
    background: var(--yellow);
    width: max-content;
    border-radius: .25em;
    padding: .15em;
    font-size: .8em;
}

#product .aside .aside-dw .a-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: .25em;
    margin: .5em auto;
    width: calc(100% - 1em);
    color: #fff;
    background: var(--yellow);
    border-radius: .25em;
    font-weight: 600;
    box-shadow: var(--sh);
}


/*==========================================*/
/*==========================================*/
/* DETAILS */
#product .body .details {
    grid-area: c;
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100%;
    height: max-content;
}

#product .body .details > .title {
    color: var(--text);
    font-size: 1.1em;
    font-weight: 600;
    height: 1.5em;
    margin: .5em;
}

#product .body .details .hr {
    width: 100%;
    height: 1px;
    color: var(--text-light);
}

/*==========================================*/
#product .body .details .info {
    display: flex;
    flex-direction: column;
    padding: .5em;
    gap: .5em;
}

#product .body .details .data > .title {
    color: var(--text);
    font-weight: 600;
    height: 1.5em;
    margin: .5em 0;
}

#product .body .details .data > p {
    color: var(--text);
    font-size: .9em;
    width: 100%;
    padding: 0 .25em;
    margin: 0 auto;
}

#product .body .details .data > ul {
    display: flex;
    flex-direction: column;
    gap: .25em;
}

#product .body .details .data ul > li {
    color: var(--text);
    font-size: .8em;
    font-weight: 600;
    padding: 0 .25em;
}